h1{
    color:red;
    background-color: black;
}
body{
    background-color: rgb(235, 230, 233);
    background-image: url(5.jpg);
}
p{
  color: rgb(229, 8, 4);  
}
.p1{
    border: width 5px;
    border-style: solid;
}
#p2{
    border: width 5px;
    border-style: dotted;
    border-color: blue;
}