.p1{
    border:3px solid red;
    width: 800px;
    margin: auto;
    
    }
    .p2{
        border: 3px solid  green;
        max-width: 800px;
        margin: auto;
    }
    .p3,td{
        background:black;
        color: red;
        width: 300px;
        height: 200px;
        border: 5px solid turquoise;
        overflow:auto;
        margin: auto;
    }